.rouded-1{
    border-radius: 8px !important ;
}

.bg-img{
    background-image: url("../images/bg-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.avatar {
    width: 30px;
    height: 30px;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

.opacity-1 {

    background-color: rgba(52, 144, 220, 0.4) !important;
}
.opacity-1:hover {
    background-color: rgba(52, 144, 220, 1) !important;;
}


